{% extends 'layout.html' %}
{% set activePage = "configure" %}

{% block content %}
<h1 class="text-primary">Configure Spending Tracker</h1>

<div class="row border rounded my-3 py-3" id="expenses-config">	
	
	<div class="col-sm">
		<h2>Create Expense Category</h2>
		<form method="POST" action={{ url_for('configure') }}>
			{{ newCategoryForm.csrf_token }}
			{{ newCategoryForm.category.label }} {{ newCategoryForm.category(size=20) }}
			{{ newCategoryForm.submit }}		
		</form>
	</div>	
	<div class="col-sm">
		<h2>Expense Categories</h2>	
		<ul>	
			{% for cat in categories %}
				<li>{{ cat.expenseCategory }} (<a href={{ url_for('deleteCategory', categoryId=cat.categoryId) }}>Delete</a>)</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row border rounded my-3 py-3" id="users-config">	
	<div class="col-sm">
		<h2>Create Spender</h2>
		<form method="POST" action={{ url_for('configure') }}>
			{{ newUserForm.csrf_token }}
			{{ newUserForm.username.label }} {{ newUserForm.username(size=20) }}
			{{ newUserForm.submit }}		
		</form>
	</div>	
	<div class="col-sm">
		<h2>Spenders</h2>	
		<ul>	
			{% for user in users %}
				<li>{{ user.username }} (<a href={{ url_for('deleteUser', userid=user.userId) }}>Delete</a>)</li>
			{% endfor %}
		</ul>
	</div>
	
</div>

{% endblock %}
