{% extends 'layout.html' %}
{% set activePage = "showData" %}

{% block content %}
<h1 class="text-primary">Expenses - {{ monthStr }}</h1>

<div class="row" id="expense-config">	
	<div class="col-sm border rounded py-3">
		<form method="POST" action={{ url_for('showData') }}>
			{{ expenseConfigForm.csrf_token }}
			{{ expenseConfigForm.year.label }} {{ expenseConfigForm.year }}
			{{ expenseConfigForm.month.label }} {{ expenseConfigForm.month }}
			<br>
			{{ expenseConfigForm.submit }}
		</form>
	</div>
</div>

<div class="row" id="expenses-stats">	
	<div class="col-sm py-3">
		{{ stats }}	
	</div>	
</div>

<div class="row" id="expenses-table">	
	<div class="col-md py-3">
		{{ expenseTable }}	
	</div>	
	<div class="col-sm py-3">
		{{ analyzeTable }}
	</div>
</div>
{% endblock %}
