{% extends 'layout.html' %}
{% set activePage = "home" %}

{% block content %}

<div class="row" id="add-expense">	
	
	<div class="col-sm rounded px-4 py-3">
		
		<form method="POST" action={{ url_for('home') }}>
			<div class="form-group row align-items-center">
				<div class="col-sm-2 text-right ">
					{{ newExpenseForm.csrf_token }}				
					{{ newExpenseForm.date.label }}
				</div>									
				<div class="col-lg-3">
					{{ newExpenseForm.date(class='datepicker form-control') }}
				</div>	
			</div>				
			
			<div class="form-group row align-items-center">
				<div class="col-sm-2 text-right">
					{{ newExpenseForm.spender.label }}
				</div>
				<div class="col-lg-3">
					{{ newExpenseForm.spender(class='form-control') }}
				</div>				
			</div>
			
			<div class="form-group row align-items-center">
				<div class="col-sm-2 text-right">
					{{ newExpenseForm.expenseCategory.label }}
				</div>
				<div class="col-lg-3">
					 {{ newExpenseForm.expenseCategory(class='form-control') }}
				</div>				
			</div>
			
			<div class="form-group row align-items-center">
				<div class="col-sm-2 text-right"></div>
				<div class="col-lg-5">
					{{ newExpenseForm.description }}
				</div>				
			</div>
			
			<div class="form-group row align-items-center">
				<div class="col-sm-2 text-right">
					{{ newExpenseForm.amount.label }}
				</div>
				<div class="col-lg-3">
					{{ newExpenseForm.amount(class='form-control') }}						
					{% if newExpenseForm.errors.amount %}
						{% for error in newExpenseForm.errors.amount %}
						<span class="text-danger small">{{ error }}</span>
						{% endfor %}
					{% endif %}
				</div>			
			</div>
			
			<div class="form-group row align-items-center">
				<div class="col-sm-2 text-right"></div>
				<div class="col-lg-2">
					{{ newExpenseForm.submit(class='form-control btn btn-primary') }}	
				</div>				
			</div>			
		</form>	
		
	</div>		
</div>
{% endblock %}
