{% extends 'layout.html' %}
{% set activePage = "home" %}

{% block content %}
<h1 class="text-primary">Spending Tracker</h1>

<div class="row" id="add-expense">	
	
	<div class="col-sm border rounded">
		<h2>Input an expense</h2>
		<form action={{ url_for('home') }} method="POST">
			<fieldset class="form-group">				
				{{ newExpenseForm.csrf_token }}
				{{ newExpenseForm.date.label }} {{ newExpenseForm.date(class='datepicker') }}<br>
				{{ newExpenseForm.expenseCategory.label }} {{ newExpenseForm.expenseCategory }}<br>
				{{ newExpenseForm.spender.label }} {{ newExpenseForm.spender }}<br>
				{{ newExpenseForm.amount.label }} {{ newExpenseForm.amount }}
				{% if newExpenseForm.errors.amount %}
					<span class="text-danger small">{{ newExpenseForm.errors.amount }}</span>
				{% endif %}
				<br>
				{{ newExpenseForm.description }}<br>
				{{ newExpenseForm.submit }}				
			</fieldset>			
		</form>
		
	</div>		
</div>
{% endblock %}
