<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Spending Tracker</title>
</head>

<body>	
	<div class="container">		
		<!-- Build out site nav -->						
		<div class="row my-3" id="sitenav">			
			<nav class="nav nav-pills nav-fill">
				{% set navigation_bar = [
					('home', 'Home'),
					('monthlyAnalysis', 'Monthly Analysis'),
					('yearlyAnalysis', 'Yearly Analysis'),
					('configure', 'Settings')
				] %}
				{% for id, text in navigation_bar %}
					<a class="nav-item nav-link {% if id == activePage %} active{% endif %}" href="{{ url_for(id) }}">{{ text }}</a>
				{% endfor %}
			</nav>			
		</div>
		<!-- END: Build out site nav -->

		<!-- This is for flash messages -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<div class="row" id="flash-messages-row"><div class="col-lg-8">				
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}				
			
			</div></div>
		{% endif %}
		{% endwith %}
		<!-- end of flash messages section -->		
				
		<div class="row" id="content">
			<div class="col-lg">
				{% block content %}{% endblock %}
			</div>			
		</div>	
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
