{% extends 'layout.html' %}
{% set activePage = "monthlyAnalysis" %}

{% block content %}
<script>
function expenseIdToDelete(theId) {
	console.log("Got into expense id to delete JS function");
	console.log("The ID received is " + theId);
	var actionUrl = {{ url_for('deleteExpense', expenseId=theId) }}
	actionUrl += theId
	console.log("action url is " + actionUrl)
	document.getElementById("postform").setAttribute("action", actionUrl)
}
</script>

<h1 class="text-primary">Expenses - {{ monthStr }}</h1>

<div id="deleteConfirmModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header flex-column">					
				<h4 class="modal-title w-100">Are you sure?</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>This will permanenly delete this record.</p>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<form id="postform" method="POST" action="">
					<button type="sumbit" class="btn btn-danger">Delete</button>
				</form>				
			</div>
		</div>
	</div>
</div>

<div class="row py-3 px-3 border rounded bg-light">
	<div class="col-lg">
		<form method="POST" action={{ url_for('monthlyAnalysis') }} class="form-inline">
			<div class="form-group">
				{{ monthlyForm.csrf_token }}	
				{{ monthlyForm.year.label(class_='px-2') }}	
				{{ monthlyForm.year(class_="form-control") }}						
			</div>
			
			<div class="form-group px-3">
				{{ monthlyForm.month.label(class_='px-2') }} 
				{{ monthlyForm.month(class_="form-control") }}
			</div>
			
			<div class="form-group">
				{{ monthlyForm.spender.label(class_='px-2') }}
				{{ monthlyForm.spender(class_="form-control") }}	
			</div>
			
			<div class="form-group px-4">
				{{ monthlyForm.submit(class='form-control btn btn-primary') }}
			</div>
					
		</form>
	</div>
</div>

{% if spender != "All" and spender is not none %}
	<div class="alert alert-primary my-2" role="alert">
		Displaying data only for "{{ spender }}" spender
	</div>
{% endif %}

<div class="row my-3 px-3 py-2">
	
	<div class="col">	

		<div class="row justify-content-center">
			<div class="col-lg-6 py-3">
				{{ stats }}	
			</div>			
		</div>

		<div class="row">				
			<div class="col-lg-8 py-3">
				{{ expenseTable }}	
			</div>			
			<div class="col-lg-4 py-3">
				{{ categoryAnalysisTable }}
			</div>
		</div>
	
	</div>
	
</div>
{% endblock %}
