{% extends 'layout.html' %}
{% set activePage = "yearlyAnalysis" %}

{% block content %}
<h1 class="text-primary">Year Analysis - {{ yearStr }}</h1>

<div class="row border rounded py-2" id="analysis-config-form">
	<div class="col-lg">
		
		<form method="POST" action={{ url_for('yearlyAnalysis') }} class="form-inline">
			<div class="form-group">
				{{ yearlyForm.csrf_token }}
				<div class="form-group px-2">
					{{ yearlyForm.year.label }} {{ yearlyForm.year(class_="form-control") }}
				</div>
				<div class="form-group px-2">
					{{ yearlyForm.spender.label }} {{ yearlyForm.spender(class_="form-control") }}
				</div>
				{{ yearlyForm.submit }}
			</div>			
		</form>					
	</div>
</div>

{% if spender != "All" and spender is not none %}
	<div class="alert alert-primary my-2" role="alert">
		Displaying data only for "{{ spender }}" spender
	</div>
{% endif %}

<div class="row border rounded my-3 px-3 py-2" id="yearly-stats"> 
	<div class="col-lg py-3">
		{{ stats }}	
	</div>	
</div>

<div class="row border rounded my-3 px-3 py-2" id="analysis-tables">
	<div class="col-lg-6 py-3">
		{{ categoryAnalysisTable }}
	</div>	
	<div class="col-lg-6 py-3">
		{{ breakdownByMonthAnalysisTable }}
	</div>	
</div>
{% endblock %}
